body {
  font-family: Futura;
}
.heading {
  font-family: 'Parisienne', cursive;
}
.content {
  text-align: center;
}
.form-group {
  margin-bottom: 10px;
  padding-left: 10%;
  padding-right: 10%;
}
.result {
  font-size: 8em;
}    
